In [2]:
import pandas as pd
import json
import numpy as np
import operator
import matplotlib.pyplot as plt
from collections import Counter
import os
import time
import pickle

ROOT = os.path.dirname(os.getcwd())

# Loading & Formatting Data

## Teams, Players, Competitions

In [12]:
# loading the players data
players={}
with open('../DataJson/players.json') as json_data:
    players = json.load(json_data)

# loading the competitions data
competitions={}
with open('../DataJson/competitions.json') as json_data:
    competitions = json.load(json_data)
    
# loading the teams data
teams={}
with open('../DataJson/teams.json') as json_data:
    teams = json.load(json_data)

In [13]:
players = pd.json_normalize(players)
players.to_pickle(os.path.join(ROOT, 'processed_data', 'players.pkl.gz'))
players.to_csv(os.path.join(ROOT, 'processed_data', 'players.csv'))
players

,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,wyId,foot,shortName,...,passportArea.id,passportArea.alpha3code,passportArea.alpha2code,role.code2,role.code3,role.name,birthArea.name,birthArea.id,birthArea.alpha3code,birthArea.alpha2code
0,78,Harun,,Tekin,4502,1989-06-17,187,32777,right,H. Tekin,...,792,TUR,TR,GK,GKP,Goalkeeper,Turkey,792,TUR,TR
1,73,Malang,,Sarr,3775,1999-01-23,182,393228,left,M. Sarr,...,686,SEN,SN,DF,DEF,Defender,France,250,FRA,FR
2,72,Over,,Mandanda,3772,1998-10-26,176,393230,,O. Mandanda,...,250,FRA,FR,GK,GKP,Goalkeeper,France,250,FRA,FR
3,82,Alfred John Momar,,N'Diaye,683,1990-03-06,187,32793,right,A. N'Diaye,...,686,SEN,SN,MD,MID,Midfielder,France,250,FRA,FR
4,84,Ibrahima,,Konat\u00e9,2975,1999-05-25,192,393247,right,I. Konat\u00e9,...,250,FRA,FR,DF,DEF,Defender,France,250,FRA,FR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598,72,Ali,,Ma\u00e2loul,16041,1990-01-01,175,120839,left,A. Ma\u00e2loul,...,788,TUN,TN,DF,DEF,Defender,Tunisia,788,TUN,TN
3599,76,Carlos Alberto,,C\u00e1ceda Oyaguez,15591,1991-09-27,183,114736,right,C. C\u00e1ceda,...,604,PER,PE,GK,GKP,Goalkeeper,Peru,604,PER,PE
3600,78,Miguel Gianpierre,,Araujo Blanco,12072,1994-10-24,179,114908,right,M. Araujo,...,604,PER,PE,DF,DEF,Defender,Peru,604,PER,PE
3601,70,Ahmed Reda,,Tagnaouti,16183,1996-04-05,182,285583,right,A. Tagnaouti,...,504,MAR,MA,GK,GKP,Goalkeeper,Morocco,504,MAR,MA
3602,0,Ricardo,,Guardia Avila,62943,1997-02-04,0,361536,left,R. Avila,...,591,PAN,PA,MD,MID,Midfielder,Panama,591,PAN,PA

In [16]:
teams = pd.json_normalize(teams)
teams.to_pickle(os.path.join(ROOT, 'processed_data', 'teams.pkl.gz'))
teams.to_csv(os.path.join(ROOT, 'processed_data', 'teams.csv'))
teams

,city,name,wyId,officialName,type,area.name,area.id,area.alpha3code,area.alpha2code
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,club,England,0,XEN,
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,club,Spain,724,ESP,ES
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,club,Spain,724,ESP,ES
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,club,Spain,724,ESP,ES
4,Valencia,Levante,695,Levante UD,club,Spain,724,ESP,ES
...,...,...,...,...,...,...,...,...,...
137,Las Rozas,Spain,1598,Spain,national,Spain,724,ESP,ES
138,Beograd,Serbia,17322,Serbia,national,Serbia,688,SRB,RS
139,Bern,Switzerland,6697,Switzerland,national,Switzerland,756,CHE,CH
140,Warszawa,Poland,13869,Poland,national,Poland,616,POL,PL
141,Abuja,Nigeria,16823,Nigeria,national,Nigeria,566,NGA,NG

In [19]:
competitions = pd.json_normalize(competitions)
competitions.to_pickle(os.path.join(ROOT, 'processed_data', 'competitions.pkl.gz'))
competitions.to_csv(os.path.join(ROOT, 'processed_data', 'competitions.csv'))
competitions

,name,wyId,format,type,area.name,area.id,area.alpha3code,area.alpha2code
0,Italian first division,524,Domestic league,club,Italy,380,ITA,IT
1,English first division,364,Domestic league,club,England,0,XEN,
2,Spanish first division,795,Domestic league,club,Spain,724,ESP,ES
3,French first division,412,Domestic league,club,France,250,FRA,FR
4,German first division,426,Domestic league,club,Germany,276,DEU,DE
5,European Championship,102,International cup,international,,0,XEU,
6,World Cup,28,International cup,international,,0,XWO,

## Matches
#### Only looking at domestic leagues

How do we best store this messy data?

In [27]:
# loading the match data
matches={}
nations = ['Italy','England','Germany','France','Spain']
for nation in nations:
    with open('../DataJson/matches/matches_%s.json' %nation) as json_data:
        matches[nation] = json.load(json_data)

In [37]:
pd.json_normalize(matches['Italy'][0]).columns

Index(['status', 'roundId', 'gameweek', 'seasonId', 'dateutc', 'winner',
       'venue', 'wyId', 'label', 'date', 'referees', 'duration',
       'competitionId', 'teamsData.3162.scoreET', 'teamsData.3162.coachId',
       'teamsData.3162.side', 'teamsData.3162.teamId', 'teamsData.3162.score',
       'teamsData.3162.scoreP', 'teamsData.3162.hasFormation',
       'teamsData.3162.formation.bench', 'teamsData.3162.formation.lineup',
       'teamsData.3162.formation.substitutions', 'teamsData.3162.scoreHT',
       'teamsData.3161.scoreET', 'teamsData.3161.coachId',
       'teamsData.3161.side', 'teamsData.3161.teamId', 'teamsData.3161.score',
       'teamsData.3161.scoreP', 'teamsData.3161.hasFormation',
       'teamsData.3161.formation.bench', 'teamsData.3161.formation.lineup',
       'teamsData.3161.formation.substitutions', 'teamsData.3161.scoreHT'],
      dtype='object')

In [47]:
matches['Italy'][0]

{'status': 'Played',
 'roundId': 4406278,
 'gameweek': 38,
 'teamsData': {'3162': {'scoreET': 0,
   'coachId': 251025,
   'side': 'home',
   'teamId': 3162,
   'score': 2,
   'scoreP': 0,
   'hasFormation': 1,
   'formation': {'bench': [{'playerId': 4792,
      'ownGoals': '2',
      'redCards': '93',
      'goals': '0',
      'yellowCards': '0'},
     {'playerId': 20972,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 256479,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 241675,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 260250,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 69417,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 20460,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 101635,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 20575,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 7926,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 208865,
      'ownGoals': '2',
      'redCards': '0',
      'goals': '0',
      'yellowCards': '0'},
     {'playerId': 37745,
      'ownGoals': '2',
      'redCards': '0',
      'goals': '0',
      'yellowCards': '0'}],
    'lineup': [{'playerId': 21384,
      'ownGoals': '2',
      'redCards': '0',
      'goals': '0',
      'yellowCards': '0'},
     {'playerId': 20550,
      'ownGoals': '2',
      'redCards': '0',
      'goals': '0',
      'yellowCards': '0'},
     {'playerId': 130,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 346908,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 376362,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '25'},
     {'playerId': 166534,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '63'},
     {'playerId': 20561,
      'ownGoals': '2',
      'redCards': '79',
      'goals': '0',
      'yellowCards': '33'},
     {'playerId': 40806,
      'ownGoals': '0',
      'redCards': '0',
      'goals': '1',
      'yellowCards': '0'},
     {'playerId': 265865,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 228928,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 7965,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '36'}],
    'substitutions': [{'playerIn': 37745, 'playerOut': 21384, 'minute': 75},
     {'playerIn': 208865, 'playerOut': 20550, 'minute': 77},
     {'playerIn': 7926, 'playerOut': 130, 'minute': 83}]},
   'scoreHT': 2},
  '3161': {'scoreET': 0,
   'coachId': 101547,
   'side': 'away',
   'teamId': 3161,
   'score': 3,
   'scoreP': 0,
   'hasFormation': 1,
   'formation': {'bench': [{'playerId': 3543,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 405608,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 20572,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 86785,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 7982,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 70161,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 298212,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 241676,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 352993,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 20626,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 20519,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'}],
    'lineup': [{'playerId': 20556,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 3344,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 21094,
      'ownGoals': '0',
      'redCards': '0',
      'goals': '1',
      'yellowCards': '47'},
     {'playerId': 20571,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 3431,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '23'},
     {'playerId': 138408,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 206314,
      'ownGoals': '0',
      'redCards': '0',
      'goals': '1',
      'yellowCards': '0'},
     {'playerId': 69968,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '12'},
     {'playerId': 14812,
      'ownGoals': '1',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'},
     {'playerId': 116349,
      'ownGoals': '2',
      'redCards': '0',
      'goals': '1',
      'yellowCards': '83'},
     {'playerId': 135903,
      'ownGoals': '0',
      'redCards': '0',
      'goals': 'null',
      'yellowCards': '0'}],
    'substitutions': [{'playerIn': 20626, 'playerOut': 20556, 'minute': 60},
     {'playerIn': 352993, 'playerOut': 3344, 'minute': 67},
     {'playerIn': 20519, 'playerOut': 21094, 'minute': 79}]},
   'scoreHT': 1}},
 'seasonId': 181248,
 'dateutc': '2018-05-20 18:45:00',
 'winner': 3161,
 'venue': '',
 'wyId': 2576335,
 'label': 'Lazio - Internazionale, 2 - 3',
 'date': 'May 20, 2018 at 8:45:00 PM GMT+2',
 'referees': [{'refereeId': 377206, 'role': 'referee'},
  {'refereeId': 384945, 'role': 'secondAssistant'},
  {'refereeId': 377241, 'role': 'fourthOfficial'}],
 'duration': 'Regular',
 'competitionId': 524}

Have a MATCH dataframe:

    wyID
    status
    roundId
    gameweek
    team_home
    team_away
    seasonId
    date
    winner
    venue
    label
    duration
    competitionId

And also a MATCH_DETAILS folder where each entry is class of the following structure:

    teamA (int)
    teamB (int)

    lineupA (list of dict(playerId, owngoal, redcard, goal))
    benchA (list of dict(playerId, owngoal, redcard, goal))

    lineupB (list of dict(playerId, owngoal, redcard, goal))
    benchB (list of dict(playerId, owngoal, redcard, goal))

    subs(list of dict(in, out, minute))

In [100]:
def get_home_away(teamsData):
    team1, team2 = teamsData.keys()
    if teamsData[team1]['side'] == 'home' and teamsData[team2]['side'] == 'away':
        return int(team1), int(team2)
    elif teamsData[team2]['side'] == 'home' and teamsData[team1]['side'] == 'away':
        return int(team2), int(team1)
    else:
        print('ERROR')
        
        
def get_goals(teamsData, spec):
    team1, team2 = teamsData.keys()
    if teamsData[team1]['side'] == 'home' and teamsData[team2]['side'] == 'away':
        home = team1
        away = team2
    elif teamsData[team2]['side'] == 'home' and teamsData[team1]['side'] == 'away':
        home = team2
        away = team1
    else:
        print('ERROR')
        
    if spec == 'regular':
        return teamsData[home]['score'], teamsData[away]['score']
    elif spec == 'HT':
        return teamsData[home]['scoreHT'], teamsData[away]['scoreHT']
    elif spec == 'ET':
        return teamsData[home]['scoreET'], teamsData[away]['scoreET']
    elif spec == 'P':
        return teamsData[home]['scoreP'], teamsData[away]['scoreP']
    else:
        print('ERROR')
        return None
    
    
matches_df = list()   
for nation in nations:
    for i, match in enumerate(matches[nation]):
        #print(nation, i)
        
        match_entry = dict()
        match_entry['wyId'] = match['wyId']
        match_entry['nation'] = nation
        match_entry['status'] = match['status']
        match_entry['roundId'] = match['roundId']
        match_entry['gameweek'] = match['gameweek']
        match_entry['seasonId'] = match['seasonId']
        match_entry['date'] = match['date']
        match_entry['winner'] = match['winner']
        match_entry['venue'] = match['venue']
        match_entry['label'] = match['label']
        match_entry['duration'] = match['duration']
        match_entry['competitionId'] = match['competitionId']
        
        match_entry['team_home'], match_entry['team_away'] = get_home_away(match['teamsData'])
        match_entry['goals_home'], match_entry['goals_away'] = get_goals(match['teamsData'], 'regular')
        match_entry['goalsHT_home'], match_entry['goalsHT_away'] = get_goals(match['teamsData'], 'HT')
        match_entry['goalsET_home'], match_entry['goalsET_away'] = get_goals(match['teamsData'], 'ET')
        match_entry['goalsPen_home'], match_entry['goalsPen_away'] = get_goals(match['teamsData'], 'P')

        
        matches_df.append(pd.Series(match_entry))

matches_df = pd.concat(matches_df, axis=1).T.set_index(['wyId', 'nation']).sort_index(axis=1).sort_index()
matches_df.to_pickle(os.path.join(ROOT, 'processed_data', 'matches_df.pkl.gz'))
matches_df.to_csv(os.path.join(ROOT, 'processed_data', 'matches_df.csv'))
matches_df

,,competitionId,date,duration,gameweek,goalsET_away,goalsET_home,goalsHT_away,goalsHT_home,goalsPen_away,goalsPen_home,goals_away,goals_home,label,roundId,seasonId,status,team_away,team_home,venue,winner
wyId,nation,,,,,,,,,,,,,,,,,,,,
2499719,England,364,"August 11, 2017 at 8:45:00 PM GMT+2",Regular,1,0,0,2,2,0,0,3,4,"Arsenal - Leicester City, 4 - 3",4405654,181150,Played,1631,1609,Emirates Stadium,1609
2499720,England,364,"August 12, 2017 at 6:30:00 PM GMT+2",Regular,1,0,0,0,0,0,0,2,0,"Brighton & Hove Albion - Manchester City, 0 - 2",4405654,181150,Played,1625,1651,The American Express Community Stadium,1625
2499721,England,364,"August 12, 2017 at 4:00:00 PM GMT+2",Regular,1,0,0,3,0,0,0,3,2,"Chelsea - Burnley, 2 - 3",4405654,181150,Played,1646,1610,Stamford Bridge,1646
2499722,England,364,"August 12, 2017 at 4:00:00 PM GMT+2",Regular,1,0,0,2,0,0,0,3,0,"Crystal Palace - Huddersfield Town, 0 - 3",4405654,181150,Played,1673,1628,Selhurst Park,1673
2499723,England,364,"August 12, 2017 at 4:00:00 PM GMT+2",Regular,1,0,0,0,1,0,0,0,1,"Everton - Stoke City, 1 - 0",4405654,181150,Played,1639,1623,Goodison Park,1623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2576334,Italy,524,"May 19, 2018 at 3:00:00 PM GMT+2",Regular,38,0,0,0,0,0,0,1,2,"Juventus - Hellas Verona, 2 - 1",4406278,181248,Played,3194,3159,,3159
2576335,Italy,524,"May 20, 2018 at 8:45:00 PM GMT+2",Regular,38,0,0,1,2,0,0,3,2,"Lazio - Internazionale, 2 - 3",4406278,181248,Played,3161,3162,,3161
2576336,Italy,524,"May 20, 2018 at 8:45:00 PM GMT+2",Regular,38,0,0,1,0,0,0,1,0,"Sassuolo - Roma, 0 - 1",4406278,181248,Played,3158,3315,MAPEI Stadium - Citt\u00e0 del Tricolore,3158
2576337,Italy,524,"May 20, 2018 at 6:00:00 PM GMT+2",Regular,38,0,0,0,1,0,0,1,3,"SPAL - Sampdoria, 3 - 1",4406278,181248,Played,3164,3204,,3204
2576338,Italy,524,"May 20, 2018 at 3:00:00 PM GMT+2",Regular,38,0,0,1,0,0,0,2,1,"Genoa - Torino, 1 - 2",4406278,181248,Played,3185,3193,,3185

In [126]:
class MatchDetails:
    def __init__(self, teamsData):
        team1, team2 = teamsData.keys()
        if teamsData[team1]['side'] == 'home' and teamsData[team2]['side'] == 'away':
            home = team1
            away = team2
        elif teamsData[team2]['side'] == 'home' and teamsData[team1]['side'] == 'away':
            home = team2
            away = team1
        else:
            print('ERROR')
            
            
        self.home = int(home)
        self.away = int(away)
        
        
        self.goals_home, self.goals_away = get_goals(teamsData, 'regular')
        self.goalsHT_home, self.goalsHT_away = get_goals(teamsData, 'HT')
        self.goalsET_home, self.goalsET_away = get_goals(teamsData, 'ET')
        self.goalsPen_home, self.goalsPen_away = get_goals(teamsData, 'P')
        
        self.lineup_home =  teamsData[home]['formation']['lineup'] if teamsData[home]['hasFormation'] else None
        self.lineup_away =  teamsData[away]['formation']['lineup'] if teamsData[away]['hasFormation'] else None
        
        self.bench_home =  teamsData[home]['formation']['bench'] if teamsData[home]['hasFormation'] else None
        self.bench_away =  teamsData[away]['formation']['bench'] if teamsData[away]['hasFormation'] else None
        
        self.substitutions_home = teamsData[home]['formation']['substitutions'] if teamsData[home]['hasFormation'] else None
        self.substitutions_away = teamsData[away]['formation']['substitutions'] if teamsData[away]['hasFormation'] else None

In [131]:
for nation in nations:
    for i, match in enumerate(matches[nation]):
        details = MatchDetails(match['teamsData'])
        #details.to_pickle(os.path.join(ROOT, 'processed_data', 'match_details', '{}.pkl.gz'.format(match['wyId'])))
        
        pickle.dump(details, open(os.path.join(ROOT, 'processed_data', 'match_details', '{}.pkl.gz'.format(match['wyId'])),
                                  "wb" ) )

## Events

In [3]:
events={}
nations = ['Italy','England','Germany','France','Spain']
for nation in nations:
    with open('../DataJson/events/events_%s.json' %nation) as json_data:
        events[nation] = json.load(json_data)

In [17]:
for nation in nations:
    events[nation] = pd.json_normalize(events[nation])

In [19]:
events = pd.concat(events)
events

              eventId           subEventName  \
Italy 0             8            Simple pass
      1             8            Simple pass
      2             7                  Touch
      3             1  Ground attacking duel
      4             1  Ground attacking duel
...               ...                    ...
Spain 628654        8            Simple pass
      628655        7           Acceleration
      628656        8                  Cross
      628657        8            Simple pass
      628658        7              Clearance

                                                  tags  playerId  \
Italy 0                                 [{'id': 1801}]      8327
      1                                 [{'id': 1801}]     20438
      2                                             []      8306
      3       [{'id': 504}, {'id': 703}, {'id': 1801}]      8306
      4       [{'id': 503}, {'id': 703}, {'id': 1801}]      8306
...                                                ...       ...
Spain 628654                            [{'id': 1801}]     20623
      628655                            [{'id': 1801}]    122832
      628656               [{'id': 401}, {'id': 1802}]    122832
      628657                            [{'id': 1801}]     40756
      628658              [{'id': 1401}, {'id': 1802}]      3306

                                              positions  matchId  \
Italy 0        [{'y': 52, 'x': 49}, {'y': 44, 'x': 43}]  2575959
      1        [{'y': 44, 'x': 43}, {'y': 17, 'x': 36}]  2575959
      2        [{'y': 17, 'x': 36}, {'y': 56, 'x': 78}]  2575959
      3        [{'y': 56, 'x': 78}, {'y': 15, 'x': 64}]  2575959
      4        [{'y': 15, 'x': 64}, {'y': 15, 'x': 72}]  2575959
...                                                 ...      ...
Spain 628654    [{'y': 25, 'x': 66}, {'y': 2, 'x': 88}]  2565927
      628655    [{'y': 2, 'x': 88}, {'y': 21, 'x': 97}]  2565927
      628656   [{'y': 21, 'x': 97}, {'y': 26, 'x': 92}]  2565927
      628657     [{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]  2565927
      628658  [{'y': 56, 'x': 9}, {'y': 100, 'x': 100}]  2565927

                       eventName  teamId matchPeriod     eventSec subEventId  \
Italy 0                     Pass    3158          1H     2.530536         85
      1                     Pass    3158          1H     3.768418         85
      2       Others on the ball    3158          1H     4.868265         72
      3                     Duel    3158          1H     8.114676         11
      4                     Duel    3158          1H     8.647892         11
...                          ...     ...         ...          ...        ...
Spain 628654                Pass     682          2H  2939.077491         85
      628655  Others on the ball     682          2H  2940.515560         70
      628656                Pass     682          2H  2942.098761         80
      628657                Pass     675          2H  2943.089232         85
      628658  Others on the ball     675          2H  2943.668846         71

                     id
Italy 0       180423957
      1       180423958
      2       180423959
      3       180423960
      4       180423961
...                 ...
Spain 628654  253302671
      628655  253302673
      628656  253302674
      628657  253302698
      628658  253302695

[3071395 rows x 12 columns]

In [20]:
events.to_pickle(os.path.join(ROOT, 'processed_data', 'events_df.pkl.gz'))
events.to_csv(os.path.join(ROOT, 'processed_data', 'events_df.csv'))

In [28]:
for nation in nations:
    df = events.loc[nation]
    df.to_pickle(os.path.join(ROOT, 'processed_data', 'events_distributed', '{}.pkl.gz'.format(nation)))
    df.to_csv(os.path.join(ROOT, 'processed_data', 'events_distributed', '{}.csv'.format(nation)))